<launch>
    <arg name="freq" default="1"/>
    <arg name="record_talker" default="false"/>

    <node
        pkg="beginner_tutorials"
        name="talker"
        type="talker"
        output="screen"
        args="$(arg freq)"
    />
    <node
        pkg="beginner_tutorials"
        name="listener"
        type="listener"
        output="screen"
        launch-prefix="gnome-terminal --command"
    />
    <node
    	pkg="rosbag"
    	name="rosbag_record_talker"
    	type="record"
    	args="-a -O talker.bag"
    	if="$(arg record_talker)"
	/>
</launch>
